.DS_Store
.idea/
*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.bsp/sbt.json

# build artifacts
core-api-server/target/
core-api/target/
project/target/
project/project/target/
target/
